@import "./styles/fonts.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #ff7b42;
  --primary-foreground: #fff;
  --secondary: #1c1c1e;
  --secondary-foreground: oklch(0.205 0 0);
  --third: #fff;
  --four: #636567;
  --five: #e8e9ea;
  --six: #4e86db;
  --seven: #f4f4f4;
  --eight: #04316a;
  --nine: #ffb612;
  --banner: #fff2cf;
  --muted: oklch(0.97 0 0);
  --muted-foreground: #000;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Swiper */
  --swiper-navigation-size: 20px;
}

.dark {
  --background: #2c2c2c;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #4285ff;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #fff;
  --secondary-foreground: oklch(0.985 0 0);
  --third: #000;
  --four: #676563;
  --five: #1a1a1a;
  --six: #db9a4e;
  --seven: #f4f4f4;
  --eight: #04316a;
  --nine: #ffb612;
  --banner: #fff2cf;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @theme {
  --breakpoint-lg: 64rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-third: var(--third);
  --color-four: var(--four);
  --color-five: var(--five);
  --color-six: var(--six);
  --color-seven: var(--seven);
  --color-eight: var(--eight);
  --color-nine: var(--nine);
  --color-banner: var(--banner);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50 text-base;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7b42;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e86db;
}

@layer utilities {
  /* Container */
  .main-container {
    @apply max-w-[1164px] m-auto w-full xl:px-0 lg:px-18 md:px-12 sm:px-8 px-4;
  }

  /* Font size */
  .text-size-6xl {
    @apply lg:text-6xl md:text-5xl text-4xl font-bold;
  }

  .text-size-5xl {
    @apply lg:text-5xl md:text-4xl text-3xl font-bold;
  }

  .text-size-4xl {
    @apply lg:text-4xl md:text-3xl text-2xl font-medium;
  }

  .text-size-3xl {
    @apply lg:text-3xl md:text-2xl text-xl  font-bold;
  }

  .text-size-2xl {
    @apply lg:text-2xl md:text-xl text-lg  font-medium;
  }

  .text-size-xl {
    @apply md:text-xl text-lg  font-bold;
  }

  .text-size-lg {
    @apply md:text-lg text-base;
  }

  .text-size-base {
    @apply text-base;
  }

  .bg-transparent {
    @apply relative after:absolute after:inset-0 after:bg-third after:opacity-90 after:z-[1];
  }

  .image-important {
    inset: unset !important;
    right: 0 !important;
  }

  .clip-path-flag {
    clip-path: polygon(64% 0, 64% 100%, 32% 69%, 0 100%, 0 0);
  }

  .pd-normal {
    @apply lg:py-8 md:py-6 py-4;
  }

  /* straight line */
  .str-line {
    @apply w-full h-[1px] my-4 bg-five;
  }

  .str-line-2 {
    @apply w-full h-[1px] lg:my-8 my-6 bg-five;
  }

  .input-label-top {
    @apply absolute left-0 top-1/2 -translate-y-1/2 text-base text-four transition-all peer-placeholder-shown:top-0 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:text-sm peer-focus:text-secondary;
  }

  /* Transition */
  .tran-fast {
    @apply transition-all duration-200 ease-in-out;
  }
  .tran-normal {
    @apply transition-all duration-300 ease-in-out;
  }

  .tran-slow {
    @apply transition-all duration-400 ease-in-out;
  }

  .overlay-img {
    @apply before:absolute before:bg-black/20 before:inset-0 before:w-full before:h-full z-[-1];
  }
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-weight: bold;
}
